@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&family=Ubuntu&display=swap");

.brandTitle {
  color: #fd774e;
  font-family: Montserrat;
  font-weight: 900;
}

.navbar .navbar-nav .navbar-item {
  font-family: Montserrat;
  font-weight: 400;
}
